@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Voeg Motor Toe";
}
<form action="AddMotorForm" method="post">
    <table>
        <tr>
            <td>Merk: </td>
            <td><input type="text" name="txtMerk" required/></td>
        </tr>
        <tr>
            <td>Bouwjaar: </td>
            <td><input type="number" name="txtBouwjaar" required min="1900" max="2025"/></td>
        </tr>
        <tr>
            <td>Prijs: </td>
            <td><input type="number" name="txtPrijs" required min="1"/></td>
        </tr>
        <tr>
            <td>Huurbaar:</td>
            <td>
                <select name="huurbaar" required>
                <option value="Ja">Ja</option>
                <option value="Nee">Nee</option>
            </select>
            </td>
        </tr>
        <tr>
            <td colspan="2" ><input type="submit" value="Voeg motor toe" /></td>
        </tr>
    </table>
</form>